@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Abel', sans-serif;

}

.titulo {
  width: 100%;
  height: 10vh;
  background-color: darkcyan;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 3em;
}

h2 {
  text-align: right;
}

.conversacion {
  width: 100%;
  height: 80vh;

}

.formulario {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: darkcyan;
  padding: 20px;
}